html,
body {
  height: 100%;
  font-family: 'Barlow', sans-serif;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.container-form {
  width: 400px; /* Largeur de la boîte */
  padding: 20px;
  background: white;
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
  
  /* Centrage */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
